<html>

<head>
    <title>Add Article</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script src="/js/updateScript.js"></script>
</head>

<body>
    <%- include('./header') %>

    <div class="alert-danger" , id="error-group" , style="display: none">
        <ul id="ul_errors"></ul>
    </div>

    <div class="container" style="padding: 25px 50px 75px 0px ;">
        <h1><%= title %> </h1>
        <form>
            <div class="form-group">
                <label for="id">Article Id: </label>
                <input type="text" class="form-control" id="_id" name="id" value="<%=article._id %>" readonly>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%=article.title %>" required>
            </div>
            <div class="form-group">
                <label for="Body">Body</label>
                <textarea class="form-control" id="body" name="body" required><%=article.body%></textarea>
            </div>
            <button type="button" class="btn btn-primary" id="update-btn">Update</button>
        </form>
        <hr>
        <strong>Copyright &COPY; 2020</strong>
    </div>
</body>

</html>